@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.footer-text a {
  color: $buttonColor !important;
  text-decoration: none;
}

.footer-text a:hover {
  color: $buttonHover !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.dark-mode a {
  color: $textColorDark !important;
}

.dark-mode a:hover {
  color: $buttonColor !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
